html,
body {
    margin: 0;
    overflow-x: hidden;
}

html {
    height: 100%;
    display: block;
    width: 100%;
    font-family: sans-serif;
}

body {
    background-color: #fff;
    font-family: 'Alegreya Sans', sans-serif;
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 2.5rem;
}

h4 {
    font-size: 2rem;
}

h5 {
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    letter-spacing: 0px;
    color: #6f6f6f;
}

hr {
    margin: 0 auto 20px;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, .0001);
}

ul {
    padding-left: 0;
}
label{
    color:#fff;
}

.big{
    font-size: 16px;
    color:#fff;
}

.optionsSection {
    padding: 25px 0;
}

/*   BUTTONS HEADER  */

.btn-hire {
    color: #FFFFFF;
    background-color: #319883;
    border-color: #319883;
    border-width: 2px;
    border-style: solid;
         .badge {
            color: #319883;
            background-color: #FFFFFF;
        }
}

.btn-portoflio {
    background-color: transparent;
    color: #fff;
    border-width: 2px;
    border-style: solid;
}

.btn-portoflio:active,
.btn-portoflio.active.btn-portoflio {
    color: #FFFFFF;
    border-color: #FFFFFF;
}

.btn-portoflio.active.btn-portoflio:hover {
    opacity: 0.75;
}


/*-=-=-=-=-=-=-=-=-=-=- */


/* HEADER & UNDERHEADER */


/*-=-=-=-=-=-=-=-=-=-=- */

#up {
    background-image: url("../images/wordpress.jpg");
    background-position: center center;
    display: flex;
    justify-content: center;
    padding-top: 12rem;
    padding-bottom: 12rem;
}

.titleHeader {
    color: #fff;
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    letter-spacing: 2px;
}

.myCareer {
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-weight: 300;
}

.myPhoto {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 100%;
}

.check {
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutMe {
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
}

.title {
    text-align: center;
    padding: 20px 0;
    font-weight: 300;
}

#underHeader {
    background-image: url(../images/home_webdesign_pattern1.png);
    background-repeat: repeat;
    background-position: center;
    position: relative;
    padding: 35px 0 30px 0;
    TEXT-ALIGN: CENTER;
}

.happyClients {
    border: 2px solid #797979;
    padding: 15px 30px 15px;
    display: inline-block;
    border-radius: 5px;
    background: #fff;
    margin-right: 80px;
    float: right;
}

.people {
    top: -11px;
    position: relative;
    max-width: 100%;
    height: auto;
}

.number {
    font-size: 42px;
    line-height: 54px;
    font-weight: 300;
    color: #000000;
    display: inline-block;
    position: relative;
    margin-left: 5px;
}

.description {
    font-size: 26px;
    line-height: 28px;
    font-weight: 300;
    line-height: 120%;
    margin-top: 10px;
}

@media only screen and (min-width: 321px) {
    .allIn {
        text-align: center;
    }
    .happyClientsParent {
        display: flex;
        justify-content: center;
    }
    .happyClients {
        margin: 0;
    }
}


/*-=-=-=-=-=-=-=-=-=-=- */


/* ICONS */


/*-=-=-=-=-=-=-=-=-=-=- */

.icons {
    text-align: center;
    font-size: 20px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
}

.icons .item-fb {
    position: relative;
    height: 58px;
    width: 58px;
    overflow: hidden;
    margin-right: 3px;
}

.icons .item-fb:hover:before {
    top: 0;
}

.icons .item-fb:hover:after {
    top: 0;
}

.icons .item-fb:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #3b5998;
    top: 100%;
    left: 0;
    z-index: 1;
    transition: all .3s ease-in-out;
}

.icons .item-fb:after {
    content: '\f09a';
    font-family: FontAwesome;
    position: absolute;
    width: 100%;
    height: 100%;
    color: #fff;
    z-index: 2;
    top: 100%;
    left: 0;
    line-height: 3;
    transition: all .3s ease-in-out;
}

.icons .item-fb .fa {
    position: absolute;
    top: 0;
    left: 0;
    transition: all .3s ease-in-out;
}

.icons .item-gp {
    position: relative;
    height: 58px;
    width: 58px;
    overflow: hidden;
    margin-right: 3px;
}

.icons .item-gp:hover:before {
    top: 0;
}

.icons .item-gp:hover:after {
    top: 0;
}

.icons .item-gp:before {
    content: '';
    position: absolute;
    z-index: 1;
    transition: all .3s ease-in-out;
}

.icons .item-gp:after {
    content: '\f0d5';
    font-family: FontAwesome;
    position: absolute;
    background-color: #db4437;
    width: 100%;
    height: 100%;
    color: #fff;
    z-index: 2;
    top: 100%;
    left: 0;
    line-height: 3;
    transition: all .3s ease-in-out;
}

.icons .item-li {
    position: relative;
    height: 58px;
    width: 58px;
    overflow: hidden;
    margin-right: 3px;
}

.icons .item-li:hover:before {
    top: 0;
}

.icons .item-li:hover:after {
    top: 0;
}

.icons .item-li:before {
    content: '';
    position: absolute;
    z-index: 1;
    transition: all .3s ease-in-out;
}

.icons .item-li:after {
    content: '\f0e1';
    font-family: FontAwesome;
    position: absolute;
    background-color: #0077B5;
    width: 100%;
    height: 100%;
    color: #fff;
    z-index: 2;
    top: 100%;
    left: 0;
    line-height: 3;
    transition: all .3s ease-in-out;
}

.icons .item-gi {
    position: relative;
    height: 58px;
    width: 58px;
    overflow: hidden;
    margin-right: 3px;
}

.icons .item-gi:hover:before {
    top: 0;
}

.icons .item-gi:hover:after {
    top: 0;
}

.icons .item-gi:before {
    content: '';
    position: absolute;
    z-index: 1;
    transition: all .3s ease-in-out;
}

.icons .item-gi:after {
    content: '\f09b';
    font-family: FontAwesome;
    position: absolute;
    background-color: #24292e;
    width: 100%;
    height: 100%;
    color: #fff;
    z-index: 2;
    top: 100%;
    left: 0;
    line-height: 3;
    transition: all .3s ease-in-out;
}

.fa {
    width: 58px;
    border: 1px solid;
    line-height: 3 !important;
    height: 58px;
    background-color: #fff;
    box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, .08);
}

/*-=-=-=-=-=-=-=-=-=-=- */


/*      Portfolio       */


/*-=-=-=-=-=-=-=-=-=-=- */

#portfolio {
    background-image: url(../images/test.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.portfolioGallery {
    display: inline-block;
    width: 410px;
    height: 410px;
    position: relative;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);
}

@media only screen and (max-width:640px) {
    .portfolioGallery {
        width: 315px;
        height: 315px;
    }
    #portfolio {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (min-width: 1824px) {
    .portfolioGallery {
        width: 450px;
        height: 455px;
    }
    .pom {
        padding-bottom: 50px !important;
    }
}

.portfolioGallery:hover {
    box-shadow: 0px 0px 30px #000000;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.2);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.2);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.2);
    transition: all 200ms ease-in;
    transform: scale(1.2);
}

.hi-icon-effect-6 .hi-icon {
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 1);
    transition: background 0.2s, color 0.2s;
}

.no-touch .hi-icon-effect-6 .hi-icon:hover {
    background: rgba(255, 255, 255, 1);
    color: #64bb5d;
}

.no-touch .hi-icon-effect-6 .hi-icon:hover:before {
    animation: spinAround 3s linear infinite;
}

@keyframes spinAround {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg);
    }
}

.pom {
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
}


/*-=-=-=-=-=-=-=-=-=-=- */


/*     WebDesigner      */


/*-=-=-=-=-=-=-=-=-=-=- */

.webDescription {
    font-size: 50px;
    line-height: 50px;
    font-weight: 300;
    letter-spacing: 0px;

}

#WebDesigner {
    background-image: url(../images/home_webdesign_about_bg.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    padding-top: 130px;
    padding-bottom: 100px;
}

.nopaddding {
    padding: 0px !important;
}
/*-=-=-=-=-=-=-=-=-=-=- */


/*     Carousel      */


/*-=-=-=-=-=-=-=-=-=-=- */
#mySkills {
    background-image: url(../images/patern2.png);
    padding-bottom: 70px;
}

.whiteDescription {
    color: #fff;
    text-align: center;
    font-weight: 300;

}

.content-slider h3 {
    margin: 0;
    padding: 70px 0;
}

.demo {
    width: 100%;
}


#contact{
    background-image: url(../images/wild_oliva.png);
}
.form-control{
    background-color: #423c3c;
}

#footer{
    text-align: center;
    padding-bottom: 25px;
    background-image: url(../images/wild_oliva.png);
}
#footer h5{
    color:#fff;
}
#footer hr{
  	border-top: 1px dotted #8c8b8b;

}

